#hero {
background-image: url("/assets/images/decore.png");
background-repeat: no-repeat;
background-size: cover;
margin-top: 0px;
}

#menu {
position: center;
width: 1160.58px;
height: 40px;
margin-left: 20%;
padding-top: 5%;
}

#logo { 
width: 114.91px;
height: 33.99px;
left: 118.92px;
top: 92.7px;
padding-right: 100px;
}

.link {
text-decoration: none;
color: #212832;
font-family: 'Google Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 22px;
padding-top: 100px;
padding-left: 30px;
padding-right: 30px;
}

#lang {
-moz-appearance: none;
-webkit-appearance: none;
border: none;
position: relative;
outline: none;
padding: 5px;
padding-right: 40px;
margin-left: 40px;
}

#bot {
position: relative;
height: 40px; 
width: 110px;
box-sizing: border-box;
border: 1px solid #212832;
border-radius: 5px;
background-color: transparent;
}
#desk {
    margin-left: 20px;
    position: absolute;
    padding-left: 17%;
    padding-top: 7%;
}
#title {
position:absolute;
color: #181E4B;
font-family: "Volkhov", Georgia, serif;
font-size: 84px;
line-height: 89px;
width: 545px;
height: 267px;
padding-top: 5%;
}
#subtitle {
position: absolute;
color: #DF6951;
width: 500px;
height: 30px;
font-family: 'Poppins', Georgia, serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
text-transform: uppercase;
}

#main_image {
position: relative;
width: 783.87px;
height: 764px;
left: 550px;
top: 40px;
z-index: 2;
padding-left: 10%;
}

p.par {
position: absolute;
width: 477px;
height: 90px;
padding-top: 420px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
/* or 188% */
color: #5E6282;
}

.heading {
    position: absolute;
    width: 547px;
    height: 65px;
    left: 428px;
    margin-top: 5%;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    
    text-align: center;
    text-transform: capitalize;
    color: #14183E;
    z-index: -1;
}
#service {
    position: center;
}
p#cat {
position: absolute;
width: 98px;
height: 27px;
left: 652px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #5E6282;
}
.category {
    position: absolute;
    padding-left: 20px;
    margin-left: 20px;

}


#selling {
position: abolutes;
width: 1102px;
height: 617px;
left: 173px;
top: 1504px;
}
#booking {
    position: absolute;
width: 1114px;
height: 492px;
left: 186px;
top: 2417px;
}
#comments {
    position: absolute;
width: 1165px;
height: 356px;
left: 186px;
top: 3109px;
}
#logos {
    position: absolute;
width: 1073px;
height: 162px;
left: 186px;
top: 3561px;

} 
#subscribe {
position: absolute;
width: 1356px;
height: 490px;
left: 48px;
top: 3834px;
}
#footer {
    position: absolute;
width: 1617.94px;
height: 633.86px;
left: 186px;
top: 4420px;
}